@page
@model Gibs.Portal.Pages.Market.ProductsModel
@{
    ViewData["Title"] = "Products";
}

<section class="d-flex flex-column gap-3">
    <div class="card flex-row rounded-0 gap-4 p-4 rounded-3 border-0">
        <div class="col-9 d-flex flex-column gap-3">
            <div class="d-flex align-items-center justify-content-between border-bottom pb-2">
                <h3 class="mb-0 fw-bold">Car Insurance</h3>
            </div>
            <div class="d-flex gap-3 flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0">insurer: <span class="fw-bold fs-5">Leadway Insurance</span></p>
                    <p class="mb-0">policy #: <span class="fw-bold fs-5">2159876</span></p>
                </div>

                <div class="d-flex flex-column gap-3">
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Windscreen cover</span>
                    </p>
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Roadside Assistance</span>
                    </p>
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Windscreen cover</span>
                    </p>
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Windscreen cover</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="ps-4 col-3 d-flex flex-column gap-4 border-start">
            <div class="d-flex flex-column">
                <h4 class="mb-0 fw-bold">Price:</h4>
                <h1 class="fw-bold mb-0 text-success">$8000</h1>
                <p class="mb-0 fw-bold fs-5">Per Year</p>
            </div>
            <div class="d-flex flex-column gap-2">
                <p class="mb-0">Start date: <span class="fw-bold">03 january, 2024</span></p>
                <p class="mb-0 text-danger">End date: <span class="fw-bold">04 january, 2025</span></p>

                <div class="mt-2">
                    <button type="button" class="btn btn-primary btn-lg shadow">Buy Insurance</button>
                </div>
            </div>

        </div>
    </div>
    <div class="card flex-row rounded-0 gap-4 p-4 rounded-3 border-0">
        <div class="col-9 d-flex flex-column gap-3">
            <div class="d-flex align-items-center justify-content-between border-bottom pb-2">
                <h3 class="mb-0 fw-bold">Car Insurance</h3>
            </div>
            <div class="d-flex gap-3 flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0">insurer: <span class="fw-bold fs-5">Reliance Insurance</span></p>
                    <p class="mb-0">policy #: <span class="fw-bold fs-5">2100876</span></p>
                </div>

                <div class="d-flex flex-column gap-3">
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Windscreen cover</span>
                    </p>
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Roadside Assistance</span>
                    </p>
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Windscreen cover</span>
                    </p>
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Windscreen cover</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="ps-4 col-3 d-flex flex-column gap-4 border-start">
            <div class="d-flex flex-column">
                <h4 class="mb-0 fw-bold">Price:</h4>
                <h1 class="fw-bold mb-0 text-success">$4000</h1>
                <p class="mb-0 fw-bold fs-5">Per Year</p>
            </div>
            <div class="d-flex flex-column gap-2">
                <p class="mb-0">Start date: <span class="fw-bold">03 january, 2024</span></p>
                <p class="mb-0 text-danger">End date: <span class="fw-bold">04 january, 2025</span></p>

                <div class="mt-2">
                    <button type="button" class="btn btn-primary btn-lg shadow">Buy Insurance</button>
                </div>
            </div>

        </div>
    </div>
    <div class="card flex-row rounded-0 gap-4 p-4 rounded-3 border-0">
        <div class="col-9 d-flex flex-column gap-3">
            <div class="d-flex align-items-center justify-content-between border-bottom pb-2">
                <h3 class="mb-0 fw-bold">Car Insurance</h3>
            </div>
            <div class="d-flex gap-3 flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0">insurer: <span class="fw-bold fs-5">IdevWorks Insurance</span></p>
                    <p class="mb-0">policy #: <span class="fw-bold fs-5">2159876</span></p>
                </div>

                <div class="d-flex flex-column gap-3">
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Windscreen cover</span>
                    </p>
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Roadside Assistance</span>
                    </p>
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Windscreen cover</span>
                    </p>
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Windscreen cover</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="ps-4 col-3 d-flex flex-column gap-4 border-start">
            <div class="d-flex flex-column">
                <h4 class="mb-0 fw-bold">Price:</h4>
                <h1 class="fw-bold mb-0 text-success">$10000</h1>
                <p class="mb-0 fw-bold fs-5">Per Year</p>
            </div>
            <div class="d-flex flex-column gap-2">
                <p class="mb-0">Start date: <span class="fw-bold">03 january, 2024</span></p>
                <p class="mb-0 text-danger">End date: <span class="fw-bold">04 january, 2025</span></p>

                <div class="mt-2">
                    <button type="button" class="btn btn-primary btn-lg shadow">Buy Insurance</button>
                </div>
            </div>

        </div>
    </div>
    <div class="card flex-row rounded-0 gap-4 p-4 rounded-3 border-0">
        <div class="col-9 d-flex flex-column gap-3">
            <div class="d-flex align-items-center justify-content-between border-bottom pb-2">
                <h3 class="mb-0 fw-bold">Car Insurance</h3>
            </div>
            <div class="d-flex gap-3 flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0">insurer: <span class="fw-bold fs-5">Advantages Insurance</span></p>
                    <p class="mb-0">policy #: <span class="fw-bold fs-5">288000</span></p>
                </div>

                <div class="d-flex flex-column gap-3">
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Windscreen cover</span>
                    </p>
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Roadside Assistance</span>
                    </p>
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Windscreen cover</span>
                    </p>
                    <p class="d-flex align-items-center gap-2 mb-0 fs-5">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Windscreen cover</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="ps-4 col-3 d-flex flex-column gap-4 border-start">
            <div class="d-flex flex-column">
                <h4 class="mb-0 fw-bold">Price:</h4>
                <h1 class="fw-bold mb-0 text-success">$2000</h1>
                <p class="mb-0 fw-bold fs-5">Per Year</p>
            </div>
            <div class="d-flex flex-column gap-2">
                <p class="mb-0">Start date: <span class="fw-bold">03 january, 2024</span></p>
                <p class="mb-0 text-danger">End date: <span class="fw-bold">04 january, 2025</span></p>

                <div class="mt-2">
                    <button type="button" class="btn btn-primary btn-lg shadow">Buy Insurance</button>
                </div>
            </div>

        </div>
    </div>
</section>