@page
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<section class="row">
    <div class="col bg-white mx-3">
        <p>wassup?</p>
        <p>wassup?</p>
        <p>wassup?</p>
        <p>wassup?</p>
        <p>wassup?</p>
    </div>
    <div class="col bg-white mx-3">
        <p>wassup?</p>
        <p>wassup?</p>
        <p>wassup?</p>
        <p>wassup?</p>
        <p>wassup?</p>
    </div>
    <div class="col bg-white mx-3">
        <p>wassup?</p>
        <p>wassup?</p>
        <p>wassup?</p>
        <p>wassup?</p>
        <p>wassup?</p>
    </div>
</section>
