.product-card.motor-insurance {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/lance-asper-50cIn5ELxLo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
