@page
@model Gibs.Portal.Pages.Admin.OrdersModel
@{
    ViewData["Title"] = "Orders";
}

<section class="d-flex flex-column gap-3">
    <button type="button" class="btn btn-danger align-self-end" data-bs-toggle="modal" data-bs-target="#addPolicy">
        <i class="bi bi-plus-circle me-2"></i> Add Order
    </button>

    <table id="myTable" class="table mb-0">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Orders.Any())
            {
                foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.PurchaseDate.ToLocalTime().Date</td>
                        <td>@order.TotalAmount</td>
                        <td class="d-flex gap-1">
                            <i class="bi bi-trash" data-bs-toggle="modal"
                               data-bs-target="#deletePolicy" data-id="@order.OrderId">
                            </i>
                            <i class="bi bi-pencil-square"></i>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="8"><div class="text-center text-danger h3">No order has been found...</div></td></tr>
            }
        </tbody>
    </table>
</section>