@page
@model Gibs.MultiBroker.Portal.Pages.Public.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<section class="container">
    <h3 class="fw-bold mb-4 text-center">Contact Us</h3>
    <div class="row justify-content-center gap-4">
        <div class="col-11 col-sm-10 col-lg-5">
            <div class="mb-3">
                <i class="bi bi-house fs-4 mb-3"></i>
                <div>
                    <h5 class="mb-1 fw-bold">Address</h5>
                    <a href="#" class="text-decoration-none text-dark">6, Oremeta Street, Off Ola Adeshega Close, Ikeja, Lagos</a>
                </div>
            </div>
            <div class="mb-3">
                <i class="bi bi-telephone fs-4 mb-3"></i>
                <div>
                    <h5 class="mb-1 fw-bold">Phone</h5>
                    <a href="tel:+2348063506603" class="text-decoration-none text-dark">+2348063506603</a>
                </div>
            </div>
            <div class="mb-3">
                <i class="bi bi-envelope fs-4 mb-3"></i>
                <div>
                    <h5 class="mb-1 fw-bold">Email</h5>
                    <a href="mailto:idevWorks@gmail.com" class="text-decoration-none text-dark">idevWorks@gmail.com</a>
                </div>
            </div>
            <div class="mb-3">
                <i class="bi bi-whatsapp fs-4 mb-3"></i>
                <div>
                    <h5 class="mb-1 fw-bold">Email</h5>
                    <a href="mailto:idevWorks@gmail.com" class="text-decoration-none text-dark">idevWorks@gmail.com</a>
                </div>
            </div>
        </div>

        <div class="p-5 rounded-3 col-11 col-sm-10 col-lg-5 col-xl-4" style="background-color: #f8f8fa;">
            <h4 class="mb-0 fw-bold mb-3">Send us a message</h4>
            <form class="d-flex flex-column gap-3">
                <div>
                    <label for="fullName" class="form-label">From</label>
                    <input type="email" class="form-control" id="fullName" placeholder="your@email.com" />
                </div>
                <div>
                    <label for="email" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="email" />
                </div>
                <div>
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-dark mt-2">Submit</button>
            </form>
        </div>
    </div>
</section>