@page
@model ProductsModel
@{
    ViewData["Title"] = "Products";
}

<section>
    <card class="mb-3">
        <header>
            <h5>Car Insurance</h5>
        </header>
        <body>
            <p>
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p>
                <i class="bi bi-check-circle-fill"></i>
                <span>Roadside Assistance</span>
            </p>
            <p>
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p>
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
        </body>
        <footer>
            <a class="btn btn-primary" asp-page="Quote" type="button">Buy Online</a>
        </footer>
    </card>
    <card class="mb-3">
        <header>
            <h5>Travel Insurance</h5>
        </header>
        <body>
            <p>
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p>
                <i class="bi bi-check-circle-fill"></i>
                <span>Roadside Assistance</span>
            </p>
            <p>
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p>
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
        </body>
        <footer>
            <a class="btn btn-primary" asp-page="Quote" type="button">Buy Online</a>
        </footer>
    </card>
    <card class="mb-3">
        <header>
            <h5>Home Insurance</h5>
        </header>
        <body>
            <p>
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p>
                <i class="bi bi-check-circle-fill"></i>
                <span>Roadside Assistance</span>
            </p>
            <p>
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p>
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
        </body>
        <footer>
            <a class="btn btn-primary" asp-page="Quote" type="button">Buy Online</a>
        </footer>
    </card>
</section>