@page
@model ProductsModel
@{
    ViewData["Title"] = "Products";
}

<section class="gap-3 row">
    @for (int i = 0; i < 5; i++)
    {
    <div class="card flex-column gap-3 col-3 p-3 rounded-3 shadow">
        <h5 class="mb-0">Car Insurance</h5>
        <div class="d-flex flex-column gap-2">
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Roadside Assistance</span>
            </p>
            <p class="d-flex gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
        </div>

        <div class="mt-2">
            <a asp-page="GetQuote" type="button" class="btn btn-primary btn-lg shadow">Buy Insurance</a>
        </div>
    </div>
    }
</section>