<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iBrokerage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portal.styles.css" asp-append-version="true" />
</head>
<body class="vh-100" style="background-color: #fafbfe; color: #6c757d; font-family: 'Nunito', sans-serif;">
    <nav class="position-fixed start-0 d-flex sidebar expand-sidebar flex-column px-2 pb-4 h-100">
        <div class="d-flex justify-content-center">
            <a href="/" class="d-flex align-items-center px-3 pt-3 pb-4 mb-0 text-decoration-none">
                <span class="fs-5 fw-bold text-white navbrand-lg">iBrokerage</span>
                <span class="fs-5 fw-bold text-white navbrand-sm d-none">IB</span>
            </a>
        </div>

        <ul class="nav flex-column">
            <li class="p-3 sidebar-title">NAVIGATION</li>
            <li class="nav-item">
                <a href="#navCollapse" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" class="nav-link active d-flex align-items-center collapse-toggle">
                    <i class="bi bi-speedometer2 nav-icon"></i>
                    <span class="nav-text">Dashboard</span>
                    <i class="bi bi-chevron-right ms-auto collapse-icon"></i>
                </a>
                <ul class="collapse nav collapse-item" id="navCollapse">
                    <li class="nav-item">
                        <a href="#" class="nav-link sub-nav">
                            Analytics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link sub-nav">
                            Ecommerce
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link sub-nav">
                            Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link sub-nav">
                            CRM
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link sub-nav">
                            E-Wallet
                        </a>
                    </li>
                </ul>
            </li>
            <li class="p-3 sidebar-title">APPS</li>
            <li class="nav-item">
                <a href="/Insured" class="nav-link d-flex align-items-center">
                    <i class="bi bi-people nav-icon"></i>
                    <span class="nav-text">Insured</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link d-flex align-items-center">
                    <i class="bi bi-file-earmark nav-icon"></i>
                    <span class="nav-text">Policies</span>
                </a>
            </li class="nav-item">
            <li class="nav-item">
                <a href="#" class="nav-link d-flex align-items-center">
                    <i class="bi bi-file-check nav-icon"></i>
                    <span class="nav-text">Certificates</span>
                </a>
            </li>
        </ul>
    </nav>


    <main role="main" class="pb-3 h-100">
        <div class="d-flex bg-white py-3 px-4 shadow-sm border-bottom">
            <div class="d-flex align-items-center gap-4">
                <div class="hamburger d-none d-md-block">
                    <i class="bi bi-list fs-3 fw-bold"></i>
                </div>
                <div class="hamburger d-md-none" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                    <i class="bi bi-list fs-5"></i>
                </div>
                <div class="d-flex align-items-center">
                    <div class="input-group">
                      <span class="input-group-text border-0" id="search"><i class="bi bi-search"></i></span>
                      <input type="text" class="form-control search" placeholder="search..." aria-label="search" aria-describedby="search">
                    </div>
                     <button class="btn btn-primary shadow py-2 search-btn">Search</button>
                </div>
            </div>
        </div>


        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>