
main {
    margin-left: 260px;
    transition: margin-left .2s linear;
}

.font-small{
    font-size: 13px;
}

.sb {
    background-color: #313a46;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    width: 260px;
    left: 0;
}

.sb-header a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 14px;
}

.sb-brand-icon {
    display: none;
}

.sb-menu {
    padding: 10px 10px 10px 20px;
}

.sb-group {
    letter-spacing: 1px;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 10px 0px;
    color: #8391A2;
}

.sb-menu li {
    list-style-type: none;
}

.sb-menu i {
    font-size: 16px;
    font-weight: bold;
    margin-right: 1.3125rem;
}

.sb-menu a {
    color: #8391A2;
    display: block;
    font-size: 15px;
    padding: 14px 7px;
    text-decoration: none;
}
    .sb-menu a:hover {
        color: yellow;
        --font-weight: bold;
    }
    .sb-menu .active > a,
    .sb-menu a:active {
        color: #FFFFFF;
    }

ul.sb-menu ul {
    padding: 0;
    padding-left: 40px;
    overflow-y: hidden;
    transition: max-height .2s ease;
    max-height: 0;
}

ul.sb-menu .open ul {
    max-height: 200px; 
    /*
        not a real solution.
        if too large, animation is akward
        if too small, content is clipped
    */
}

ul.sb-menu ul a {
    padding-top: 8px;
    padding-bottom: 8px;
}

ul.sb-menu li:has(ul) > a span::after {
    float: right;
    content: '\F285'; /*caret-right*/
    font-size: 70%;
    font-weight: bold;
    font-family: 'bootstrap-icons';
    transition: transform .2s linear;
    margin: 5px 10px 0px 0px;
}

ul.sb-menu li:has(ul).open a span::after {
    transform: rotate(90deg);
}

.sub-nav.nav-link{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 20px;
}

main {
    margin-left: 260px;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
}

.hamburger {
    cursor: pointer;
    color: #333333 !important;
}

.input-group-text{
    background-color: #f0f3f8;
    color: #6c757d;
}

.input-group-text>i::before{
    font-weight: 900 !important;
}

.search {
    padding: .375rem;
    height: 38px;
    width: 14rem;
    background-color: #f0f3f8;
    outline: none;
    border-color: #f0f3f8;
}

.search-btn{
    background-color: #727cf5;
    border-color: #727cf5;
    opacity: 0.9;
    margin-left: -8px
}



@media screen and (max-width: 767px) {
    main {
        margin-left: 0px !important;
    }

    .sidebar {
        display: none !important;
    }
    .override .sb {
        width: 70px;
    }
    .override .sb-menu i {
        font-weight: bold;
        font-size: larger;
        color: yellow;
    }
    .override .sb-brand-icon {
        display: block;
    }
    .override .sb-group,
    .override .sb-brand,
    .override .sb-menu span,
    .override ul.sb-menu ul {
        display: none;
    }
}
