@page
@model Gibs.Portal.Pages.MarketPlace.GetQuoteModel
@{
    ViewData["Title"] = "Get A Quote";
    Layout = "_MarketPlaceLayout";
}

<section class="d-flex flex-column gap-3">
    <h3 class="mb-0">Get A Quote</h3>

    <div class="card">
        <h5 class="card-header">Third Party Motor Insurance</h5>
        <img src="~/images/" class="img-fluid" />
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</section>