@page
@model Gibs.Portal.Pages.Marketplace.ProductsModel
@{
    Layout = "_MarketPlaceLayout";
    ViewData["Title"] = "Products";
}

<section class="gap-3 row justify-content-center">
    <div class="card flex-column gap-3 col-3 p-3 rounded-3 product-card motor-insurance text-white shadow">
        <h5 class="mb-0 fw-bold">Car Insurance</h5>
        <div class="d-flex flex-column gap-2">
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Roadside Assistance</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
        </div>

        <div class="mt-2">
            <a asp-page="GetQuote" type="button" class="btn btn-primary btn-lg shadow">Buy Insurance</a>
        </div>
    </div>
    <div class="card flex-column gap-3 col-3 p-3 rounded-3">
        <h5 class="mb-0 fw-bold">Travel Insurance</h5>
        <div class="d-flex flex-column gap-2">
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Roadside Assistance</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
        </div>

        <div class="mt-2">
            <a asp-page="GetQuote" type="button" class="btn btn-primary btn-lg shadow">Buy Insurance</a>
        </div>
    </div>

    <div class="card flex-column gap-3 col-3 p-3 rounded-3">
        <h5 class="mb-0 fw-bold">Health Insurance</h5>
        <div class="d-flex flex-column gap-2">
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Roadside Assistance</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
        </div>

        <div class="mt-2">
            <a asp-page="GetQuote" type="button" class="btn btn-primary btn-lg shadow">Buy Insurance</a>
        </div>
    </div>

    <div class="card flex-column gap-3 col-3 p-3 rounded-3">
        <h5 class="mb-0 fw-bold">Life Insurance</h5>
        <div class="d-flex flex-column gap-2">
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Roadside Assistance</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
        </div>

        <div class="mt-2">
            <a asp-page="GetQuote" type="button" class="btn btn-primary btn-lg shadow">Buy Insurance</a>
        </div>
    </div>

    <div class="card flex-column gap-3 col-3 p-3 rounded-3">
        <h5 class="mb-0 fw-bold">Home Insurance</h5>
        <div class="d-flex flex-column gap-2">
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Roadside Assistance</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
            <p class="d-flex align-items-center gap-2 mb-0">
                <i class="bi bi-check-circle-fill"></i>
                <span>Windscreen cover</span>
            </p>
        </div>

        <div class="mt-2">
            <a asp-page="GetQuote" type="button" class="btn btn-primary btn-lg shadow">Buy Insurance</a>
        </div>
    </div>
</section>